*{ 
    font-family: calibri;
}
body{
    margin:0;
    padding:0;
}
main{
display:flex;
align-items: center;
flex-flow:column;
}
nav{
    background-color:#383E4C;
    padding: 3px;
    margin:-11px;
    width:100%;
}

nav ul{
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    align-items:center;
    height: 100px;
}
li {
    padding: 20px 20px;
    text-align:center;
}
li>a {
    color: white;
    text-decoration: none;
    border:1px solid #636C7A;
    padding:11px 15px;
    text-align:center;
}
li>a:active {
    background-color:#49505F;
    border:1px solid #636C7A;
}
section.hero{
    background-image: url(images/img11.jpg);
    color:white;
    text-align:center;
    background-position:center;
    width:100%;
    background-size:cover;
    margin:0;
    width:100%;
}
section.hero h1{
    padding-top:120px;
    font-size:50px;
    margin:0;
    font-weight: 5;
    text-shadow: #000000 2px 2px;
}
section.hero h3{
    font-size:20px;
    padding-bottom:150px;
    margin:0;
    font-weight: 5;
    text-shadow: #000000 1px 1px;
}
figure.card{
    background-color:#F2F2F2;
    width:30%;
    margin:0;

}
div.card{
display:flex;
width: 100%;
justify-content: center;
flex-wrap:wrap;
border:54px solid transparent;
}
figure.card{
    width:25%;
    margin:10px;
}
figure.left,
figure.right{
    background-color:#F2F2F2;

}
figure>img{
    width:100%;
}
.l-r{
    display:flex;
    justify-content: space-between;
    padding:20px 54px;
}
div{
    display:flex;
    justify-content: center;
    max-width:1280px;
}
.green{
    color:green;
    padding-left:15px;
    padding-right:15px;
}
.blue{
    color:blue;
    padding-left:15px;
    padding-right:15px;
}
.red{
    color:#666666;
    padding-left:15px;
    padding-right:15px;
}
.c-t{
    padding-left:15px;
    padding-right:15px;
    color:#666666;
}
a.green{
    background-color:green;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
}
a.blue{
    background-color:blue;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
}
a.red{
    background-color:red;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
}