*{ 
    font-family: open sans;
    font-weight:lighter;
}
body{
    margin:0;
    padding:0;
}
main{
display:flex;
align-items: center;
flex-flow:column;
}
nav{
    background-color:#383E4C;
    padding: 3px;
    margin:-11px;
    width:100%;
}

nav ul{
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    align-items:center;
    height: 100px;
}
li {
    padding: 20px 20px;
    text-align:center;
}
li>a {
    color: white;
    text-decoration: none;
    border:1px solid #636C7A;
    padding:11px 15px;
    text-align:center;
}
li>a:active {
    background-color:#49505F;
    border:1px solid #636C7A;
}
section.hero{
    background-image: url(images/img11.jpg);
    color:white;
    text-align:center;
    background-position:center;
    width:100%;
    background-size:cover;
    margin:0;
    width:100%;
}
section.hero h1{
    padding-top:120px;
    font-size:50px;
    margin:0;
    font-weight: 5;
    text-shadow: #000000 2px 2px;
}
section.hero h3{
    font-size:20px;
    padding-bottom:150px;
    margin:0;
    font-weight: 5;
    text-shadow: #000000 1px 1px;
}
figure.card{
    display:flex;
    flex-flow:column;
    align-items:center;
    background-color:#F2F2F2;
    width:30%;
    margin:0;
    height:430px;
}
div.card{
    display:flex;
    width: 100%;
    justify-content: center;
    flex-wrap:wrap;
    border:54px solid transparent;
}
figure.card{
    width:25%;
    margin:10px;
}
figure.left,
figure.right{
    background-color:#F2F2F2;

}
figure>img{
    width:100%;
}
div{
    display:flex;
    justify-content: center;
    max-width:1280px;
}
.green-h{
    color:#178A27;
    padding-left:15px;
    padding-right:15px;
    width:40%;
    align-self:flex-start;
}
.blue-h{
    color:#1686C1;
    padding-left:15px;
    padding-right:15px;
    align-self:flex-start;
}
.red-h{
    color:#666666;
    padding-left:15px;
    padding-right:15px;
    align-self:flex-start;
}
.c-t{
    padding-left:15px;
    padding-right:15px;
    color:#666666;
}
a.green{
    background-color:#178A27;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
    border-radius:6px;
    width:40%;
}
a.blue{
    background-color:#1686C1;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
    border-radius:6px;
    width:40%;
}
a.red{
    background-color:#852406;
    color:white;
    text-decoration: none;
    border:none;
    padding:11px 15px;
    text-align:center;
    border-radius:6px;
    width:40%
}
.l-r{
    color:#666666;
    padding:20px 54px;
    display:flex;
    justify-content: space-between;
    height:62vh;
}
.columns{
    text-align:center;
}
.cs-p{
    padding-left:15px;
    padding-right:15px;
}
.cc-container{
    display:flex;
    flex-flow:row wrap;
}
.c-right{
    background-color:white;
    color:#666666;
    padding:12px;
    align-self:flex-end;
    margin-right: 50px;
    width:100px;
    text-align:center;
    text-decoration:none;
    border-radius:10px;
    border:1px solid #CCCCCC;
}
.right{
    display:flex;
    flex-flow:column;
}
.services{
    display:flex;
    flex-flow:column;
    background-image: url(images/img13.jpg);
    background-size:cover;
    color:white;
    text-align:center;
    height:200px;
    justify-content:center;
    align-items:center;
    padding:20px 307px;
    margin-bottom:15px;
}
.services>h1{
    font-weight: lighter;
    text-shadow:#666666 1px 1px;
}
div.card2{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    width:1044px;
}
figure.cards2{
    display:flex;
    flex-flow:column;
    align-items:center;
    width:20.5%;
    margin:15px;
    background-color:#F2F2F2;
    height:525px;
    color:#666666;
}
.column{
    background-color:#F2F2F2;
    margin:15px;
    color:#666666;
    height:630px;
}
.cards2>p{
    padding-left:15px;
    padding-right:15px;
}
.column>p,
.column>h3{
    padding-left:15px;
    padding-right:15px;
}
.cards2>a{
    background-color: white;
    color:#666666;
    text-decoration:none;
    border-radius:6px;
    padding:8px 15px;
    text-align:center;
    width:50px;
    border: 1px solid #CCCCCC;
}
.column>a{
    background-color: white;
    color:#666666;
    text-decoration:none;
    border-radius:6px;
    padding:8px 15px;
    text-align:center;
    width:50px;
    border: 1px solid #CCCCCC;
    margin-left:15px;
    height:600px;
}
.contact{
    display:flex;
    flex-flow:column;
    background-image:url(images/img14.jpg);
    background-size:cover;
    text-align:center;
    height:534px;
    justify-content:center;
}
.input-container{
    display:flex;
    flex-flow:column wrap;
    align-items:space-between;
    justify-content:space-between;
    gap:12px;
    width:45%;
}
.contact>h1{
    font-weight:lighter;
    color:white;
    text-shadow:#333333 2px 2px;
}
.contact>p{
    background-color: rgba(255, 255, 255, 0.5);
    margin:0px 302px;
    padding:10px 15px;
    border-radius:6px;
    width:30%;
    align-self:center;
}
form {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    width:31.5%;
    margin:10px 0px;
    align-self:center;
}
input{
    background-color:rgba(255, 255, 255, 0.5);
    color:rgba(0,0,0,1);
    border:none;
    padding:8px 0px;
    border-radius:6px;
    width:100%;
}
textarea{
    background-color:rgba(255, 255, 255, 0.5);
    color:rgba(0,0,0,1);
    border:none;
    padding:8px 15px;
    border-radius:6px;
    width:45%;
    align-self:flex-start;
    height:120px;
}
form ::placeholder{
    color:rgba(0,0,0,1);
}
button{
    background-color:#000000;
    color:white;
    border:1px solid #CCCCCC;
    padding:11px 15px;
    border-radius:12px;
    width:95.7px;
    cursor:pointer;
    height:43.28px;
    margin-left:288px;
}
footer{
    text-align:center;
    color:#3f3f3f;
    font-style:italic;
}
footer>h4{
    color:#666666;
    border-bottom:#F2F2F2 1px solid;
    padding-bottom: 25px;
}
footer>a{
    display:flex;
    justify-content:flex-end;
    text-align:center;
    width:100%;
    justify-self: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}
footer>p{
    font-style: normal;
}